body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

input {
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #007bff;
}

.form-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input[type="submit"] {
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.container h3 {
    margin: 0;
    color: #495057;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.delete-container a {
    margin-bottom: 10px;
}

.delete-container h3 {
    margin-bottom: 10px;
    text-align: center;
    margin-top: 60px
}

.update-task-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.update-task-container form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.update-task-container input[type="submit"] {
    margin-top: 10px;
}
